In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("Bank_Churn.csv")
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [3]:
df.shape

(10000, 14)

In [4]:
df['Gender'].value_counts()

Male      5457
Female    4543
Name: Gender, dtype: int64

In [5]:
df['Exited'].value_counts()

0    7963
1    2037
Name: Exited, dtype: int64

In [6]:
X = df.iloc[:, 3:13]
y = df['Exited']

In [7]:
X.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0.00,1,1,1,101348.88
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,699,France,Female,39,1,0.00,2,0,0,93826.63
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10

In [8]:
y.head()

0    1
1    0
2    1
3    0
4    0
Name: Exited, dtype: int64

In [9]:
# Creating Dummy variables
gender = pd.get_dummies(X['Gender'])
geography = pd.get_dummies(X['Geography'])

In [10]:
#Concatenating them back to the dataset
X = pd.concat([X,geography,gender], axis=1)
X.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,France,Germany,Spain,Female,Male
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1,0,0,1,0
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0,0,1,1,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1,0,0,1,0
3,699,France,Female,39,1,0.00,2,0,0,93826.63,1,0,0,1,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0,0,1,1,0

In [11]:
# Removing the Features not required
X = X.drop(['Geography', 'Gender'], axis=1)
X.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,France,Germany,Spain,Female,Male
0,619,42,2,0.00,1,1,1,101348.88,1,0,0,1,0
1,608,41,1,83807.86,1,0,1,112542.58,0,0,1,1,0
2,502,42,8,159660.80,3,1,0,113931.57,1,0,0,1,0
3,699,39,1,0.00,2,0,0,93826.63,1,0,0,1,0
4,850,43,2,125510.82,1,1,1,79084.10,0,0,1,1,0

In [12]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=2)

In [13]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()

X_train = sc.fit_transform(X_train)
X_test = sc.fit_transform(X_test)

In [14]:
X_train

array([[ 1.27754581, -1.23264342, -0.012743  , ..., -0.57138416,
         1.0862028 , -1.0862028 ],
       [-0.49959477,  0.28410615,  0.33282985, ..., -0.57138416,
         1.0862028 , -1.0862028 ],
       [ 0.67827747, -0.09508124, -1.39503438, ..., -0.57138416,
         1.0862028 , -1.0862028 ],
       ...,
       [ 2.06279398, -0.28467494, -0.70388869, ..., -0.57138416,
        -0.9206384 ,  0.9206384 ],
       [-1.02653762,  1.42166833, -0.012743  , ..., -0.57138416,
        -0.9206384 ,  0.9206384 ],
       [ 0.03768029, -1.04304972,  0.67840269, ..., -0.57138416,
         1.0862028 , -1.0862028 ]])

## Creating an ANN

In [15]:
import keras
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import Dropout

Using TensorFlow backend.

In [16]:
# Initializing the Network
ann = Sequential()

In [17]:
# Input Layer
ann.add(Dense(units=6, kernel_initializer='he_uniform', activation='relu', input_dim=13))
ann.add(Dropout(0.3))

#Second Layer
ann.add(Dense(units=6, kernel_initializer='he_uniform', activation='relu'))
ann.add(Dropout(0.4))

WARNING:tensorflow:From C:\Users\Nimish\Anaconda3\lib\site-packages\tensorflow\python\ops\resource_variable_ops.py:435: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.

In [18]:
#Creating an output layer
ann.add(Dense(units=1, kernel_initializer='glorot_uniform' , activation='sigmoid'))

In [19]:
ann.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_1 (Dense)              (None, 6)                 84
_________________________________________________________________
dropout_1 (Dropout)          (None, 6)                 0
_________________________________________________________________
dense_2 (Dense)              (None, 6)                 42
_________________________________________________________________
dropout_2 (Dropout)          (None, 6)                 0
_________________________________________________________________
dense_3 (Dense)              (None, 1)                 7
=================================================================
Total params: 133
Trainable params: 133
Non-trainable params: 0
_________________________________________________________________

In [20]:
#Compiling the ANN
ann.compile(optimizer='adam', loss='binary_crossentropy' , metrics=['accuracy'])

In [21]:
# Fitting the Data
model = ann.fit(X_train, y_train, validation_split=0.33, batch_size=10, epochs=100)

WARNING:tensorflow:From C:\Users\Nimish\Anaconda3\lib\site-packages\tensorflow\python\ops\math_ops.py:3066: to_int32 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.
Train on 5359 samples, validate on 2641 samples
Epoch 1/100
5359/5359 [==============================] - 3s 535us/step - loss: 1.0672 - accuracy: 0.5589 - val_loss: 0.5726 - val_accuracy: 0.7361
Epoch 2/100
5359/5359 [==============================] - 2s 331us/step - loss: 0.5857 - accuracy: 0.7483 - val_loss: 0.4984 - val_accuracy: 0.8058
Epoch 3/100
5359/5359 [==============================] - 2s 294us/step - loss: 0.5282 - accuracy: 0.7822 - val_loss: 0.4848 - val_accuracy: 0.8023
Epoch 4/100
5359/5359 [==============================] - 2s 284us/step - loss: 0.5103 - accuracy: 0.7921 - val_loss: 0.4776 - val_accuracy: 0.8016
Epoch 5/100
5359/5359 [==============================] - 1s 265us/step - loss: 0.5051 - accuracy: 0.7923 - val_loss: 0.4718 - val_accuracy: 0.8027
Epoch 6/100
5359/5359 [==============================] - 2s 287us/step - loss: 0.4933 - accuracy: 0.7968 - val_loss: 0.4647 - val_accuracy: 0.8058
Epoch 7/100
5359/5359 [==============================] - 1s 262us/step - loss: 0.4955 - accuracy: 0.7912 - val_loss: 0.4598 - val_accuracy: 0.8065
Epoch 8/100
5359/5359 [==============================] - 1s 256us/step - loss: 0.4834 - accuracy: 0.7975 - val_loss: 0.4452 - val_accuracy: 0.8111
Epoch 9/100
5359/5359 [==============================] - 1s 249us/step - loss: 0.4763 - accuracy: 0.7985 - val_loss: 0.4397 - val_accuracy: 0.8099
Epoch 10/100
5359/5359 [==============================] - 2s 284us/step - loss: 0.4676 - accuracy: 0.8009 - val_loss: 0.4289 - val_accuracy: 0.8137
Epoch 11/100
5359/5359 [==============================] - 2s 287us/step - loss: 0.4646 - accuracy: 0.8011 - val_loss: 0.4204 - val_accuracy: 0.8186
Epoch 12/100
5359/5359 [==============================] - 2s 374us/step - loss: 0.4628 - accuracy: 0.8093 - val_loss: 0.4170 - val_accuracy: 0.8194
Epoch 13/100
5359/5359 [==============================] - 2s 366us/step - loss: 0.4581 - accuracy: 0.8050 - val_loss: 0.4121 - val_accuracy: 0.8179
Epoch 14/100
5359/5359 [==============================] - 2s 297us/step - loss: 0.4536 - accuracy: 0.8078 - val_loss: 0.4047 - val_accuracy: 0.8220
Epoch 15/100
5359/5359 [==============================] - 2s 284us/step - loss: 0.4447 - accuracy: 0.8160 - val_loss: 0.3962 - val_accuracy: 0.8334
Epoch 16/100
5359/5359 [==============================] - 1s 271us/step - loss: 0.4386 - accuracy: 0.8160 - val_loss: 0.3973 - val_accuracy: 0.8254
Epoch 17/100
5359/5359 [==============================] - 2s 331us/step - loss: 0.4326 - accuracy: 0.8222 - val_loss: 0.3935 - val_accuracy: 0.8281
Epoch 18/100
5359/5359 [==============================] - 1s 275us/step - loss: 0.4316 - accuracy: 0.8218 - val_loss: 0.3831 - val_accuracy: 0.8395
Epoch 19/100
5359/5359 [==============================] - 1s 274us/step - loss: 0.4395 - accuracy: 0.8164 - val_loss: 0.3899 - val_accuracy: 0.8285
Epoch 20/100
5359/5359 [==============================] - 2s 322us/step - loss: 0.4412 - accuracy: 0.8136 - val_loss: 0.3894 - val_accuracy: 0.8262
Epoch 21/100
5359/5359 [==============================] - 2s 296us/step - loss: 0.4383 - accuracy: 0.8186 - val_loss: 0.3872 - val_accuracy: 0.8277
Epoch 22/100
5359/5359 [==============================] - 2s 302us/step - loss: 0.4338 - accuracy: 0.8224 - val_loss: 0.3814 - val_accuracy: 0.8330
Epoch 23/100
5359/5359 [==============================] - 3s 620us/step - loss: 0.4348 - accuracy: 0.8196 - val_loss: 0.3825 - val_accuracy: 0.8330
Epoch 24/100
5359/5359 [==============================] - 4s 683us/step - loss: 0.4241 - accuracy: 0.8248 - val_loss: 0.3783 - val_accuracy: 0.8368
Epoch 25/100
5359/5359 [==============================] - 2s 358us/step - loss: 0.4245 - accuracy: 0.8227 - val_loss: 0.3807 - val_accuracy: 0.8296
Epoch 26/100
5359/5359 [==============================] - 2s 305us/step - loss: 0.4297 - accuracy: 0.8209 - val_loss: 0.3756 - val_accuracy: 0.8410
Epoch 27/100
5359/5359 [==============================] - 2s 302us/step - loss: 0.4261 - accuracy: 0.8261 - val_loss: 0.3727 - val_accuracy: 0.8436
Epoch 28/100
5359/5359 [==============================] - 2s 302us/step - loss: 0.4221 - accuracy: 0.8263 - val_loss: 0.3703 - val_accuracy: 0.8436
Epoch 29/100
5359/5359 [==============================] - 2s 309us/step - loss: 0.4228 - accuracy: 0.8289 - val_loss: 0.3708 - val_accuracy: 0.8470
Epoch 30/100
5359/5359 [==============================] - 2s 308us/step - loss: 0.4207 - accuracy: 0.8287 - val_loss: 0.3666 - val_accuracy: 0.8501
Epoch 31/100
5359/5359 [==============================] - 2s 312us/step - loss: 0.4343 - accuracy: 0.8231 - val_loss: 0.3705 - val_accuracy: 0.8478
Epoch 32/100
5359/5359 [==============================] - 2s 322us/step - loss: 0.4284 - accuracy: 0.8197 - val_loss: 0.3709 - val_accuracy: 0.8429
Epoch 33/100
5359/5359 [==============================] - 2s 337us/step - loss: 0.4239 - accuracy: 0.8280 - val_loss: 0.3746 - val_accuracy: 0.8391
Epoch 34/100
5359/5359 [==============================] - 2s 330us/step - loss: 0.4190 - accuracy: 0.8261 - val_loss: 0.3661 - val_accuracy: 0.8501
Epoch 35/100
5359/5359 [==============================] - 2s 337us/step - loss: 0.4241 - accuracy: 0.8237 - val_loss: 0.3703 - val_accuracy: 0.8425
Epoch 36/100
5359/5359 [==============================] - 2s 331us/step - loss: 0.4263 - accuracy: 0.8233 - val_loss: 0.3681 - val_accuracy: 0.8478
Epoch 37/100
5359/5359 [==============================] - 2s 337us/step - loss: 0.4258 - accuracy: 0.8259 - val_loss: 0.3697 - val_accuracy: 0.8440
Epoch 38/100
5359/5359 [==============================] - 2s 337us/step - loss: 0.4206 - accuracy: 0.8244 - val_loss: 0.3624 - val_accuracy: 0.8554
Epoch 39/100
5359/5359 [==============================] - 2s 340us/step - loss: 0.4163 - accuracy: 0.8293 - val_loss: 0.3624 - val_accuracy: 0.8516
Epoch 40/100
5359/5359 [==============================] - 2s 331us/step - loss: 0.4270 - accuracy: 0.8203 - val_loss: 0.3649 - val_accuracy: 0.8535
Epoch 41/100
5359/5359 [==============================] - 2s 337us/step - loss: 0.4240 - accuracy: 0.8270 - val_loss: 0.3651 - val_accuracy: 0.8519
Epoch 42/100
5359/5359 [==============================] - 2s 344us/step - loss: 0.4211 - accuracy: 0.8238 - val_loss: 0.3673 - val_accuracy: 0.8489
Epoch 43/100
5359/5359 [==============================] - 2s 371us/step - loss: 0.4239 - accuracy: 0.8255 - val_loss: 0.3667 - val_accuracy: 0.8519
Epoch 44/100
5359/5359 [==============================] - 2s 340us/step - loss: 0.4204 - accuracy: 0.8270 - val_loss: 0.3642 - val_accuracy: 0.8557
Epoch 45/100
5359/5359 [==============================] - 2s 348us/step - loss: 0.4224 - accuracy: 0.8281 - val_loss: 0.3670 - val_accuracy: 0.8497
Epoch 46/100
5359/5359 [==============================] - 2s 344us/step - loss: 0.4159 - accuracy: 0.8296 - val_loss: 0.3626 - val_accuracy: 0.8516
Epoch 47/100
5359/5359 [==============================] - 2s 330us/step - loss: 0.4197 - accuracy: 0.8278 - val_loss: 0.3612 - val_accuracy: 0.8569
Epoch 48/100
5359/5359 [==============================] - 2s 350us/step - loss: 0.4112 - accuracy: 0.8341 - val_loss: 0.3602 - val_accuracy: 0.8557
Epoch 49/100
5359/5359 [==============================] - 2s 343us/step - loss: 0.4161 - accuracy: 0.8317 - val_loss: 0.3635 - val_accuracy: 0.8493
Epoch 50/100
5359/5359 [==============================] - 2s 325us/step - loss: 0.4213 - accuracy: 0.8285 - val_loss: 0.3645 - val_accuracy: 0.8497
Epoch 51/100
5359/5359 [==============================] - 2s 349us/step - loss: 0.4200 - accuracy: 0.8304 - val_loss: 0.3703 - val_accuracy: 0.8429
Epoch 52/100
5359/5359 [==============================] - 2s 325us/step - loss: 0.4112 - accuracy: 0.8326 - val_loss: 0.3620 - val_accuracy: 0.8504
Epoch 53/100
5359/5359 [==============================] - 2s 318us/step - loss: 0.4187 - accuracy: 0.8311 - val_loss: 0.3625 - val_accuracy: 0.8523
Epoch 54/100

5359/5359 [==============================] - 2s 342us/step - loss: 0.4215 - accuracy: 0.8291 - val_loss: 0.3592 - val_accuracy: 0.8580
Epoch 55/100
5359/5359 [==============================] - 2s 337us/step - loss: 0.4150 - accuracy: 0.8291 - val_loss: 0.3616 - val_accuracy: 0.8527
Epoch 56/100
5359/5359 [==============================] - 2s 337us/step - loss: 0.4155 - accuracy: 0.8311 - val_loss: 0.3618 - val_accuracy: 0.8512
Epoch 57/100
5359/5359 [==============================] - 2s 328us/step - loss: 0.4140 - accuracy: 0.8296 - val_loss: 0.3635 - val_accuracy: 0.8489
Epoch 58/100
5359/5359 [==============================] - 2s 327us/step - loss: 0.4148 - accuracy: 0.8268 - val_loss: 0.3588 - val_accuracy: 0.8519
Epoch 59/100
5359/5359 [==============================] - 2s 337us/step - loss: 0.4175 - accuracy: 0.8313 - val_loss: 0.3569 - val_accuracy: 0.8565
Epoch 60/100
5359/5359 [==============================] - 2s 377us/step - loss: 0.4151 - accuracy: 0.8289 - val_loss: 0.3584 - val_accuracy: 0.8512
Epoch 61/100
5359/5359 [==============================] - 2s 390us/step - loss: 0.4211 - accuracy: 0.8289 - val_loss: 0.3615 - val_accuracy: 0.8512
Epoch 62/100
5359/5359 [==============================] - 2s 384us/step - loss: 0.4114 - accuracy: 0.8326 - val_loss: 0.3589 - val_accuracy: 0.8531
Epoch 63/100
5359/5359 [==============================] - 2s 367us/step - loss: 0.4184 - accuracy: 0.8272 - val_loss: 0.3530 - val_accuracy: 0.8584
Epoch 64/100
5359/5359 [==============================] - 2s 360us/step - loss: 0.4143 - accuracy: 0.8298 - val_loss: 0.3551 - val_accuracy: 0.8584
Epoch 65/100
5359/5359 [==============================] - 2s 356us/step - loss: 0.4152 - accuracy: 0.8291 - val_loss: 0.3549 - val_accuracy: 0.8591
Epoch 66/100
5359/5359 [==============================] - 2s 343us/step - loss: 0.4185 - accuracy: 0.8294 - val_loss: 0.3587 - val_accuracy: 0.8538
Epoch 67/100
5359/5359 [==============================] - 2s 368us/step - loss: 0.4196 - accuracy: 0.8296 - val_loss: 0.3601 - val_accuracy: 0.8504
Epoch 68/100
5359/5359 [==============================] - 2s 353us/step - loss: 0.4124 - accuracy: 0.8315 - val_loss: 0.3573 - val_accuracy: 0.8542
Epoch 69/100
5359/5359 [==============================] - 2s 350us/step - loss: 0.4085 - accuracy: 0.8332 - val_loss: 0.3572 - val_accuracy: 0.8523
Epoch 70/100
5359/5359 [==============================] - 2s 352us/step - loss: 0.4164 - accuracy: 0.8304 - val_loss: 0.3589 - val_accuracy: 0.8527
Epoch 71/100
5359/5359 [==============================] - 2s 366us/step - loss: 0.4158 - accuracy: 0.8326 - val_loss: 0.3587 - val_accuracy: 0.8516
Epoch 72/100
5359/5359 [==============================] - 2s 356us/step - loss: 0.4163 - accuracy: 0.8309 - val_loss: 0.3596 - val_accuracy: 0.8497
Epoch 73/100
5359/5359 [==============================] - 2s 346us/step - loss: 0.4158 - accuracy: 0.8322 - val_loss: 0.3584 - val_accuracy: 0.8557
Epoch 74/100
5359/5359 [==============================] - 2s 344us/step - loss: 0.4186 - accuracy: 0.8261 - val_loss: 0.3554 - val_accuracy: 0.8607
Epoch 75/100
5359/5359 [==============================] - 2s 345us/step - loss: 0.4114 - accuracy: 0.8308 - val_loss: 0.3568 - val_accuracy: 0.8538
Epoch 76/100
5359/5359 [==============================] - 2s 340us/step - loss: 0.4146 - accuracy: 0.8291 - val_loss: 0.3536 - val_accuracy: 0.8595
Epoch 77/100
5359/5359 [==============================] - 2s 345us/step - loss: 0.4270 - accuracy: 0.8246 - val_loss: 0.3596 - val_accuracy: 0.8542
Epoch 78/100
5359/5359 [==============================] - 2s 361us/step - loss: 0.4152 - accuracy: 0.8280 - val_loss: 0.3556 - val_accuracy: 0.8557
Epoch 79/100
5359/5359 [==============================] - 2s 393us/step - loss: 0.4008 - accuracy: 0.8358 - val_loss: 0.3509 - val_accuracy: 0.8599
Epoch 80/100
5359/5359 [==============================] - 2s 387us/step - loss: 0.4160 - accuracy: 0.8265 - val_loss: 0.3586 - val_accuracy: 0.8516
Epoch 81/100
5359/5359 [==============================] - 2s 356us/step - loss: 0.4106 - accuracy: 0.8336 - val_loss: 0.3521 - val_accuracy: 0.8610
Epoch 82/100
5359/5359 [==============================] - 2s 371us/step - loss: 0.4075 - accuracy: 0.8336 - val_loss: 0.3540 - val_accuracy: 0.8584
Epoch 83/100
5359/5359 [==============================] - 4s 736us/step - loss: 0.4149 - accuracy: 0.8315 - val_loss: 0.3510 - val_accuracy: 0.8637
Epoch 84/100
5359/5359 [==============================] - 4s 764us/step - loss: 0.4102 - accuracy: 0.8309 - val_loss: 0.3532 - val_accuracy: 0.8603
Epoch 85/100
5359/5359 [==============================] - 4s 727us/step - loss: 0.4081 - accuracy: 0.8324 - val_loss: 0.3514 - val_accuracy: 0.8629
Epoch 86/100
5359/5359 [==============================] - 4s 733us/step - loss: 0.4174 - accuracy: 0.8285 - val_loss: 0.3539 - val_accuracy: 0.8622
Epoch 87/100
5359/5359 [==============================] - 4s 746us/step - loss: 0.4063 - accuracy: 0.8378 - val_loss: 0.3509 - val_accuracy: 0.8603
Epoch 88/100
5359/5359 [==============================] - 4s 727us/step - loss: 0.4089 - accuracy: 0.8324 - val_loss: 0.3535 - val_accuracy: 0.8595
Epoch 89/100
5359/5359 [==============================] - 4s 708us/step - loss: 0.4096 - accuracy: 0.8336 - val_loss: 0.3518 - val_accuracy: 0.8610
Epoch 90/100
5359/5359 [==============================] - 4s 727us/step - loss: 0.4112 - accuracy: 0.8349 - val_loss: 0.3539 - val_accuracy: 0.8584
Epoch 91/100
5359/5359 [==============================] - 4s 723us/step - loss: 0.4050 - accuracy: 0.8311 - val_loss: 0.3488 - val_accuracy: 0.8610
Epoch 92/100
5359/5359 [==============================] - 4s 749us/step - loss: 0.4103 - accuracy: 0.8287 - val_loss: 0.3510 - val_accuracy: 0.8588
Epoch 93/100
5359/5359 [==============================] - 4s 714us/step - loss: 0.4059 - accuracy: 0.8324 - val_loss: 0.3521 - val_accuracy: 0.8561
Epoch 94/100
5359/5359 [==============================] - 4s 720us/step - loss: 0.4072 - accuracy: 0.8337 - val_loss: 0.3492 - val_accuracy: 0.8629
Epoch 95/100
5359/5359 [==============================] - 4s 737us/step - loss: 0.4152 - accuracy: 0.8276 - val_loss: 0.3540 - val_accuracy: 0.8542
Epoch 96/100
5359/5359 [==============================] - 4s 739us/step - loss: 0.4093 - accuracy: 0.8302 - val_loss: 0.3504 - val_accuracy: 0.8599
Epoch 97/100
5359/5359 [==============================] - 4s 740us/step - loss: 0.4114 - accuracy: 0.8265 - val_loss: 0.3504 - val_accuracy: 0.8588
Epoch 98/100
5359/5359 [==============================] - 4s 748us/step - loss: 0.4168 - accuracy: 0.8278 - val_loss: 0.3548 - val_accuracy: 0.8561
Epoch 99/100
5359/5359 [==============================] - 4s 726us/step - loss: 0.4064 - accuracy: 0.8328 - val_loss: 0.3486 - val_accuracy: 0.8595
Epoch 100/100
5359/5359 [==============================] - 4s 720us/step - loss: 0.4067 - accuracy: 0.8369 - val_loss: 0.3501 - val_accuracy: 0.8603

In [22]:
y_pred = ann.predict(X_test)
y_pred = y_pred > 0.5
y_pred[:5]

array([[False],
       [False],
       [False],
       [False],
       [False]])

In [23]:
# Making the Confusion Matrix
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
cm

array([[1600,   17],
       [ 276,  107]], dtype=int64)

In [24]:
#Claclulating accuracy score
from sklearn.metrics import accuracy_score
score = accuracy_score(y_test, y_pred)
score

0.8535